<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>中转站</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<table>
    <tr>
        <td>设备ID</td>
        <td><input type="text" name="machineId" title="设备ID" required="required"/></td>
    </tr>
    <tr>
        <td>卡号</td>
        <td><input type="text" name="cardId" title="卡号" required="required"/></td>
    </tr>
    <tr>
        <td>毛重</td>
        <td><input type="text" name="gross" title="毛重" required="required"/></td>
    </tr>
    <tr>
        <td>皮重</td>
        <td><input type="text" name="tare" title="皮重" required="required"/></td>
    </tr>
    <tr>
        <td><input type="button" value="上传数据" id="submit"/></td>
    </tr>
</table>
<script type="text/javascript">
    $(function () {
        $("#submit").on("click", function () {
            alert("1111111111111111");
            var json = {
                machineId : $("input[name='machineId']").val(),
                cardId : $("input[name='cardId']").val(),
                gross : $("input[name='gross']").val(),
                tare : $("input[name='tare']").val()
            };
            console.log(json);
            json = JSON.stringify(json);
            $.ajax({
                url : "/transfer",
                type : "POST",
                dataType:"json",
                contentType: 'application/json;charset=UTF-8',
                data : json,
                success : function (data) {
                    console.log(data)
                }
            })
        })
    })
</script>
</body>
</html>